<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9i-0zQw301ddAQAcpi6Z7-EzoRqEeFus</string>
	<key>GCM_SENDER_ID</key>
	<string>269459525970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.perigigi.godentist</string>
	<key>PROJECT_ID</key>
	<string>vivid-grove-405713</string>
	<key>STORAGE_BUCKET</key>
	<string>vivid-grove-405713.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269459525970:ios:b47ff1d2c353f4a377aa8b</string>
	<key>DATABASE_URL</key>
	<string>https://vivid-grove-405713-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>