<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>556674691617-f9ihdd1ckjqkdvvjn99fq6jpncnf8djg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBMQwKXzo4NLA_HM-_rRIohgweaI__ovxo</string>
	<key>GCM_SENDER_ID</key>
	<string>556674691617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goDentiest</string>
	<key>PROJECT_ID</key>
	<string>development-env-412201</string>
	<key>STORAGE_BUCKET</key>
	<string>development-env-412201.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556674691617:ios:5eb05628025b4bd26ca960</string>
	<key>DATABASE_URL</key>
	<string>https://development-env-412201-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>